<!DOCTYPE html>
<html ng-app="coderbook2">

<head>
  <title>coderbook2</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/ngApp/css/site.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container">
        <h1>coderbook2</h1>
        <div>
          <a href="/">Home</a>
        </div>
        <hr />

        <ui-view></ui-view>
  </div>

  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="/bower_components/angular-touch/angular-touch.min.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>


  <script src="/ngApp/app.js"></script>
  <script src="/ngApp/controllers/homeController.js"></script>
  <script src="/ngApp/controllers/loginController.js"></script>
  <script src="/ngApp/controllers/userController.js"></script>
  <script src="/ngApp/services/userService.js"></script>

</body>

</html>
